.mainpage-wrapper {
  width: 100%;
}

.mainpage_imageslider {
  margin-bottom: 10px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 50px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.mainpage_productlist {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  margin-top: 60px;
}

.main_filter_wrapper {
  position: absolute;
  top: 71%;
  right: 16%;
  text-align: left;
  width: 90px;
  z-index: 3;
  max-width: 100px;
  margin: 20px auto;
  font-size: 14px;
}

.main_filter_selectdropdown {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: white;
  border: 0.5px solid#ccc;
  border-radius: 3px;
  padding: 5px;
}

.main_filter_dropdown {
  cursor: pointer;
  background: white;
  border: 0.5px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

@media (min-width: 1024px) {
  .filter_wrapper {
    top: 310px;
    right: 20%;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .filter_wrapper {
    top: 320px;
    right: 20%;
  }
}
