.mainpage_imageslider{
    margin-bottom: 10px;
    padding-left :140px;
    padding-right :140px;
    padding-top :50px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.mainpage_productlist {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 40px; 
    max-width: 1000px;
    margin :20px auto;
    /* justify-content: center;  */
    
}