.productinfo_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: relative; */
    padding: 1rem;
    max-width: 1000px;
    margin :40px auto;
}

.productinfo_img{
    position: relative;
    z-index: 1;
}

.productinfo_left{
    width: 60%;
    float: left;
}

.productinfo_best{
    position: absolute;
    z-index: 2;
    margin-left: 1%;
    top:0px;
    width: 20px;
    height: 20px;
}

.productinfo_mainimage {
    /* position: relative;
    z-index: 1; */
    cursor: pointer;
    flex: 1;
    max-width: 100%;
    margin-right: 2rem;
}

.productinfo_deliveryinfo{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.productinfo_paymentinfo{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.infobutton_delivery{
    margin-top: 10px;
    padding-top:4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.infobutton_payment{
    margin-top: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.productinfo_description {
    flex: 1;
    width: 40%;
    float: right;
    text-align: left;
}

.productinfo_product_name{
 font-size: 26px;
 font-weight: bold;
}

.productinfo_price {
    text-decoration: line-through;
    color: gray;
    font-size: large;
    margin-right: 0.6rem;
    margin-bottom: 5px;
}

.productinfo_final_price {
    color: red;
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

.productinfo_todayicon{
    margin-top: 10px;
}   

.productinfo_todaydelivery{
    background-color: hotpink;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 50px;
    font-size: small;
    color:white
}

.productinfo_todaysale{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 50px;
    font-size: small;
    color:white

}

.productinfo_reviewinfo{
    font-weight: bold;
    font-size: large;
}