.review_reviewimogi {
  width: 100px;
  height: 100px;
  justify-content: center;
  margin-top: 25px;
}

.review_reviewcount {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.review_reviewavg {
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
}

.review_wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  border-bottom: 2px solid #dadfe3;
  justify-content: space-around;
  padding-bottom: 20px;
  max-width: 1000px;
  margin: 40px auto;
}

.review_noreview {
  font-size: larger;
  font-weight: bold;
}
