.shopcart_title {
  text-align: center;
}

/* 테이블을 감싸는 컨테이너에 대한 스타일 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shopcart_subtitle {
  text-align: left;
  width: 1050px;
}

/* .cart-check 스타일 */
.cart-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.checkbox-label-group {
  display: flex;
  align-items: center;
}

.checkbox-label-group label {
  margin-left: 8px;
}

.cart-check button {
  padding: 8px 16px;
  background-color: #6ad4dd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 테이블 스타일 */
.cart_table {
  width: 100%;
  max-width: 1050px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  box-sizing: border-box;
}

caption {
  margin-bottom: 10px;
  display: none;
}

.cart_table th,
.cart_table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart_table th {
  background-color: #f2f2f2;
}

.table_title th {
  text-align: center;
}

.table_title th:nth-child(2),
.cart_wrap td:nth-child(2) {
  width: 500px;
}

.cart_productinfo {
  display: flex;
  align-items: center;
}

/* 상품 이미지 스타일 */
.prd_img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-right: 10px;
}

/* 상품명 스타일 */
.prd_name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

#brandName {
  font-weight: bold;
  display: block;
  text-align: left;
  color: #000;
}

#goodsName {
  margin-top: 5px;
  color: #555;
  text-align: left;
}

#optionName {
  color: #555;
  text-align: left;
  display: block;
  font-size: 14px;
}

.prd_quantity {
  text-align: center;
}

/* 가격 스타일 */
.org_price {
  text-decoration: line-through;
  color: #999;
  display: block;
  text-align: center;
}

.pur_price {
  color: #e74c3c;
  font-weight: bold;
  display: block;
  text-align: center;
}

.tx_num {
  font-size: 18px;
}

.tx_num2 {
  font-size: 20px;
  margin-left: 10px;
}

.tx_num3 {
  font-size: 25px;
  margin-left: 10px;
}

/* 배송정보 스타일 */
.prd_delivery {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.prd_delivery span {
  display: block;
}

#deliStrongText {
  font-weight: bold;
}

/* 버튼 스타일 */
.btn_group {
  display: flex;
  flex-direction: column;
}

.btnSmall {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #6ad4dd;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 2.5rem;
}

.btnSmall:last-child {
  margin-top: 10px;
}

.btnSmall.delete {
  background-color: #d9534f;
}

.btnSmall.delete:hover {
  background-color: #d96360;
}

/*  */
.sum_price {
  width: 1050px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

/*  */
.basket_total_price_info {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  margin-top: 1rem;
  padding-top: 1rem;
}

.basket_total_price_info img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.basket_total_price_alert {
  display: flex;
  align-items: center;
}

.tx_text {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.tx_total_price {
  text-align: right;
  font-size: 25px;
  font-weight: bold;
}

.cart_oreder_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.selectorder_btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #d9534f;
  padding: 5px 10px;
  color: #fff;
  height: 3rem;
  width: 6rem;
  font-size: 15px;
}
.selectorder_btn:hover {
  background-color: #d96360;
}
.allorder_btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #6ad4dd;
  padding: 5px 10px;
  color: #fff;
  margin-left: 10px;
  height: 3rem;
  width: 6rem;
  font-size: 15px;
}
