.mypage-modal-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.mypage-modal-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(30, 30, 30, 0.185);
  box-sizing: border-box;
  background-color: white;
  z-index: 10000;
}

.mypage-modal-title {
  font-size: 25px;
  font-weight: bold;
}

.mypage-modal-input {
  width: 350px;
  height: 150px;
  margin-top: 30px;
  padding: 30px;
  border: 2px solid #dddddd;
  border-radius: 8px;
}

.mypage-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.mypage-modal-footer button {
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 40px;
  background-color: #6ad4dd;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.mypage-modal-footer button:hover {
  background-color: #62c5ce;
}
