.signup-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px 0 30px 0;
  margin-bottom: 30px;
  width: 80%;
  font-size: 35px;
  border-bottom: 1px solid black;
}

.signup-profile {
  position: relative;
  left: 10px;
  bottom: 210px;
}

.signup-profile-btn {
  position: relative;
  right: 85px;
  bottom: 120px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.signup-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px;
}

.signup-table th {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.signup-table td {
  margin-left: 50px;
}

.signup-table input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
}

.signup-btn {
  width: 120px;
  height: 40px;
  background-color: #6ad4dd;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #62c5ce;
  cursor: pointer;
}

.signup-btn-disabled {
  width: 120px;
  height: 40px;
  background-color: #efefef;
  color: #ccc;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  cursor: not-allowed;
}

.signup-btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 45px;
  background-color: #6ad4dd;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.signup-btn-main:hover {
  background-color: #62c5ce;
  cursor: pointer;
}

.signup-pwd-btn {
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  background: none;
  right: 85%;
  cursor: pointer;
}

.signup-pwd-icon {
  width: 15px;
  height: 15px;
}

.signup-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.signup-footer p {
  font-size: 15px;
  font-weight: bold;
}

.signup-footer button {
  width: 100px;
  height: 35px;
  background-color: #6ad4dd;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  cursor: pointer;
}

.signup-footer button:hover {
  background-color: #62c5ce;
}
