.qnaitem_question{
    font-size: larger;
}

.qnaitem_answer{
    font-size: larger;
}

.qnaitem_questionitem, .qnaitem_answer{
    display: flex;
    /* margin: 20px;
    justify-content: space-between; 
    align-items: center;  */
    padding: 10px;
    margin-bottom: 10px; 
}

.qnaitem_q {
  font-size: xx-large;
   margin-left: 100px;
   color: gray;
}

.qnaitem_a {
    font-size: xx-large;
     margin-left: 100px;
     color: green;
  }

.qnaitem_question{
    font-size: larger;
    /* border-bottom: 1px solid #ddd;  */
    /* flex:5; */
    margin-left:10px;
}

.qnaitem_answer{
    font-size: larger;
}