.qnaitem_qna{
    display: flex;
    margin: 20px;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    margin-bottom: 10px; 
    border-bottom: 1px solid #ddd; 
}

.qnaitem_qnastatus{
    background-color: #62c5ce;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 50px;
    font-size: small;
    color:white

}

.qnaitem_username, .qnaitem_createdat {
    flex: 1; 
    text-align: center;
}

.qnaitem_question {
    flex: 5; 
    text-align: center; 
}

.qnaitem_question {
    cursor: pointer;
}

.qnaitem_updatebutton{
width: 60px;
height: 30px;
background-color: #6ad4dd;
color: white;
border: none;
border-radius: 8px;
font-size: 14px; 
margin-right: 5px;
}

.qnaitem_deletebutton{
    width: 60px;
    height: 30px;
    background-color: #6ad4dd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px; 
    }